name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
    
jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Pull Docker image
      run: sudo docker pull miatian1024/contentedai-whisper-jax:latest
    - name: Delete old docker container
      run: sudo docker rm -f contentedai-whisper-jax-container || true
    - name: Run Docker Container
      run: sudo docker run --gpus all -d -p 8000:8000 --name contentedai-whisper-jax-container miatian1024/contentedai-whisper-jax:latest
   